<div class="boards-container">
	<div *ngIf="hasSorted == false; center">
		<div class="boards">
			<div
				class="board"
				*ngFor="let board of updatedBoards; let i = index"
				[attr.data-index]="i"
			>
				<!-- <table mat-table [dataSource]="myDataArray"></table> -->
				<mat-card
					[ngClass]="
						i === currentBoard
							? 'board-display'
							: 'board-display-active'
					"
				>
					<h2>Board {{ i + 1 }}</h2>
					<div
						*ngFor="let room of board; let i = index"
						[attr.data-index]="i"
					>
						<p class="room">{{ room }}</p>
					</div>
				</mat-card>
			</div>
		</div>
	</div>

	<div *ngIf="hasSorted" class="column">
		<h1>Move the following room numbers to the corresponding boards:</h1>
		<div class="sorted-boards">
			<div
				*ngFor="let newBoard of changes; let i = index"
				[attr.data-index]="i"
			>
				<mat-card class="board-display-active">
					<h2>Board {{ i + 1 }}</h2>
					<div
						*ngFor="let newRoom of newBoard; let i = index"
						[attr.data-index]="i"
					>
						<p class="newRoom">{{ newRoom }}</p>
					</div>
				</mat-card>
			</div>
		</div>
	</div>
</div>
