<!-- <img src="deznuts" alt="" />    -->
<div class="fadeIn">
	<!--This div needs an ngif-->
	<div class="create-boards-container center" *ngIf="viewState == 'create'">
		<form class="column-start board-creation" onSubmit="return false">
			<app-housekeeping-animnation></app-housekeeping-animnation>
			<p class="light-text">
				*Number of housekeepers create the number of boards for rooms to
				clean.
				<br />Creates their workload for the day.
			</p>
			<mat-form-field class="flex-center" appearance="fill">
				<mat-label>number of housekeepers</mat-label>
				<input
					matInput
					[formControl]="boardsQuantity"
					placeholder="Board Numbers"
					type="input"
					(keyup)="updateBoardNumber($event); createBoards($event)"
				/>
			</mat-form-field>
			<button
				class="submitBoards"
				mat-raised-button
				color="primary"
				type="button"
				(click)="createBoards($event)"
			>
				Create Boards
			</button>
		</form>
	</div>

	<div class="fadeIn column" *ngIf="viewState == 'sort'">
		<app-board-display
			[currentBoard]="currentBoard"
			[updatedBoards]="boards"
			[queens]="queens"
			[changes]="changes"
			[hasSorted]="hasSorted"
		></app-board-display>

		<div>
			<form class="column formClass" onSubmit="return false">
				<div class="center column">
					<p class="light-text">
						Enter room number associated to board
						{{ currentBoard + 1 }}
					</p>
				</div>
				<div class="center">
					<button
						mat-raised-button
						color="primary"
						type="button"
						(click)="prevBoard()"
					>
						Previous Board
					</button>
					<mat-form-field
						class="example-full-width addRoom"
						appearance="fill"
					>
						<mat-label>room number</mat-label>
						<input
							[formControl]="roomNumber"
							matInput
							id="RoomNumber"
							type="number"
							(keyup)="updateRoomNumber($event); addRoom($event)"
						/>
					</mat-form-field>
					<button
						mat-raised-button
						color="primary"
						type="button"
						(click)="nextBoard()"
					>
						Next Board
					</button>
				</div>
				<p>{{ dupRoomWarning }}</p>
				<button
					mat-raised-button
					class="submitRoom"
					color="primary"
					type="button"
					(click)="addRoom($event)"
				>
					Add Room
				</button>
			</form>
		</div>

		<div class="sortBoards">
			<button
				mat-raised-button
				color="secondary"
				type="button"
				(click)="sortBoards()"
			>
				<img src="/assets/filter.png" alt="sort" class="filter-icon" />
				Sort Boards
			</button>
		</div>
	</div>
</div>
