<div class="main-container">
	<header class="header-container">
		<div class="empty-space"></div>
		<h1 class="current-title">{{ currentTitle }}</h1>
		<div class="nav-buttons">
			<button
				mat-flat-button
				color="accent"
				type="button"
				(click)="onSelectHome($event)"
			>
				Home
			</button>
			<button
				mat-flat-button
				color="accent"
				type="button"
				(click)="onSelectHousekeeping($event)"
			>
				HK Central
			</button>
		</div>
	</header>
	<div class="body">
		<div class="full-height" *ngIf="page == 'housekeeping'">
			<app-housekeeping-central></app-housekeeping-central>
		</div>
		<div class="three-quarter-height" *ngIf="page == 'home'">
			<app-hotel-rates></app-hotel-rates>
		</div>
	</div>
</div>
